<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @query.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @query.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @query.phone %>
</p>

<p>
  <strong>Ask:</strong>
  <%= @query.ask %>
</p>

<%= link_to 'Edit', edit_query_path(@query) %> |
<%= link_to 'Back', queries_path %>
